.header-container {
  flex-flow: column wrap;
  background-color: #1f2937;
}

.hero-text{
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-second, .header-links{
  font: 18px;
  color: #E5E7EB;
}

.logo{
  font: 24px;
  color: #F9FAF8;
}